*{
  font-family: Arsenal;
}

.mycontainer{
  width: 96%;
}
#body{
  top: 10%;
}
.heading{
  color: white;
  font-size: 5rem;
  text-decoration: underline;
  text-shadow: 4px 4px 4px #aaa;
}
.matchlist-wrapper{
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 1rem;
  background-color: #111111;
  font-size: 1.75rem;
  width: 100%;
  margin: 2rem 2rem 2rem 2rem;
}
#matchid{
  font-size: 2.5rem;
}
.row{
  padding: 0.4rem;
  margin: 0.4rem;
}
#firstrow, #matchduration{
  color: white;
}
#radiant-score{
  color: green;
  font-weight: bold;
}
#dire-score{
  color: red;
  font-weight: bold;
}
#spectators{
  color: #444444;
}
.timer-footer{
  bottom: 0px;
  background-color: #555555;
  position: fixed;
  width: 100%;
  max-height: 5%;
  opacity: 0.70;
  color: white;
  font-weight: bold;
}
#overlay{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
}
.matchlist-wrapper:hover #overlay{
  opacity: 0.2;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
header h1{

  transition: all 0.4s ease-in-out 0s;
  opacity: 0.5;

}
header h1:hover{
  opacity: 1.0;

}
header h1 a:hover{
  text-decoration: none;
}
.light{
  font-size : 7rem;
  font-weight :bold;
  font-family: Bungee Inline;
  text-shadow: 4px 4px 4px #aaa;
  color : red;
}
.myheader{
  background-image: url("/static/img/d2_bg88.jpg");
}
header{

  position :static;
  top:0;
  left: 0;
  z-index:5000;
  width : 100%;
}
